{% macro render_form(form, legend=None) -%}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        {% if legend %}
            <legend class="border-bottom mb-4">{{ legend }}</legend>
        {% endif %}
        {% for field in form if field.widget.input_type != 'submit' %}
            <div class="form-group">
                {% if field.widget.input_type not in ['hidden', 'checkbox'] %}
                    <span>{{ field.label(class="form-control-label") }}</span>
                {% endif %}
                {% if field.errors %}
                    {{ field(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% elif field.widget.input_type == 'checkbox' %}
                    <div class="form-check">
                        {{ field(class="form-check-input") }}
                        {{ field.label(class="form-check-label") }}
                    </div>
                {% else %} 
                    {{ field(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        {% endfor %}
    </fieldset>
    <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
</form>
{%- endmacro %}
