{% from 'macros.html' import render_form %}
{% extends "base.html" %}
{% block content %}
    <h1>Manage Categories</h1>
    <hr>
    <table class="table table-striped">
        <tr>
            <th>Category</th>
            <th>Hidden</th>
            <th></th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</th>
            <td>{{ category.hidden }}</th>
            <td>
                <a href="{{ url_for('tally.edit_category', category_id=category.id) }}" class='btn btn-warning'>Edit</a>
                <a href="{{ url_for('tally.delete_category', category_id=category.id )}}" class='btn btn-danger'>Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div>{{ render_form(form, "New Category") }}</div>
{% endblock content %}